<div class="main_why">
    <div class="main_why__wrapper">
        <div class="container">
            <div class="main_why__content">
                <h2 class="h2_title main_why__title">Почему «Салаватметалл»?</h2>
                <div class="main_why__items">
                    <div class="main_why__item">
                        <div class="main_why__item_left">
                            <div class="main_why__item_img">
                                <img src="img/main/main_why/img_1.png" alt="">
                            </div>
                        </div>
                        <div class="main_why__item_right">
                            <div class="main_why__item_title">Размеры ванны:</div>
                            <div class="main_why__item_value">Длинна <span>13м</span> X Глубина <span>3м</span></div>
                            <div class="main_why__item_text">Позволяет оцинковывать до 40 000 тонн<br> металлоизделий в год</div>
                        </div>
                    </div>
                    <div class="main_why__item">
                        <div class="main_why__item_left">
                            <div class="main_why__item_img">
                                <img src="img/main/main_why/img_1.png" alt="">
                            </div>
                        </div>
                        <div class="main_why__item_right">
                            <div class="main_why__item_title">Размеры ванны:</div>
                            <div class="main_why__item_value">Длинна <span>13м</span> X Глубина <span>3м</span></div>
                            <div class="main_why__item_text">Позволяет оцинковывать до 40 000 тонн<br> металлоизделий в год</div>
                        </div>
                    </div>
                    <div class="main_why__item this--reverse">
                        <div class="main_why__item_left">
                            <div class="main_why__item_img">
                                <img src="img/main/main_why/img_2.png" alt="">
                            </div>
                        </div>
                        <div class="main_why__item_right">
                            <div class="main_why__item_title">Срок эксплуатации конструкций</div>
                            <div class="main_why__item_value"><span>до 50 лет</span></div>
                            <div class="main_why__item_text">Гарантия качества на покрытие в<br> зависимости от условий эксплуатации</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>