<section class="about_chess">
    <div class="container">
        <div class="about_chess__content">
            <div class="about_chess__left">
                <div class="about_chess__icon">
                    <img src="img/about/chess_icon.svg" alt="">
                </div>
                <div class="about_chess__title">Оборудование австрийской компании KVK KOERNER</div>
                <div class="about_chess__text">
                    <p> KVK KOERNER позволяет наносить покрытие методом горячего оцинкования по ГОСТ 9.307-21 с толщиной покрытия не менее 40 микрометров. Гарантия качества на покрытие в зависимости от условий эксплуатации до 50 лет.</p>
                </div>
            </div>
            <div class="about_chess__right">
                <div class="about_chess__img">
                    <img src="img/about/chess_img_1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="about_chess__content this--reverse">
            <div class="about_chess__left">
                <div class="about_chess__icon">
                    <img src="img/about/chess_icon.svg" alt="">
                </div>
                <div class="about_chess__title">В 2022 году построен крытый склад готовой продукции площадью более 1000 кв. м </div>
            </div>
            <div class="about_chess__right">
                <div class="about_chess__img">
                    <img src="img/about/chess_img_2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>