<section class="news_detail">
    <div class="container">
        <div class="news_detail__content">
            <div class="news_detail__row">
                <div class="news_detail__left">
                    <div class="news_detail__breadcrumbs breadcrumbs">
                        <a href="/" class="breadcrumbs__link this--home"></a>
                        <span class="breadcrumbs__link this--disabled">статья</span>
                    </div>
                    <div class="news_detail__date">Опубликовано: 23 апреля 2023 г.</div>
                    <div class="news_detail__title">При горячем оцинковании металлоизделие на несколько минут целиком погружается в ванну, где его поверхность покрывается слоем цинка толщиной не менее 40 мкм.</div>
                    <div class="news_detail__img this--mobile">
                        <img src="img/news_detail/img.jpg" alt="">
                    </div>
                    <div class="news_detail__text">
                        <p>При горячем оцинковании металлоизделие на несколько минут целиком погружается в ванну, где его поверхность покрывается слоем цинка толщиной не менее 40 мкм. За счет такого покрытия обеспечивается не только барьерная, но и электрохимическая защита металла от коррозии.
                            <br>
                            Горячее оцинкование металла, если сравнивать его с другими технологиями нанесения антикоррозийной защиты, отличается оптимальным сочетанием стоимости технологического процесса с высокими защитными свойствами получаемого цинкового слоя. Нанесенное методом горячего оцинкования покрытие даже при эксплуатации изделия в самых неблагоприятных условиях способно прослужить не менее 15лет, а в некоторых случаях и не менее 50 лет, полностью сохраняя свои защитные свойства.</p>
                    </div>
                </div>
                <div class="news_detail__right">
                    <div class="news_detail__img this--desktop">
                        <img src="img/news_detail/img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>