<header class="header">
    <div class="header__top">
        <div class="header__top_logo">
            <img src="img/header/top_logo.png" alt="">
        </div>
        <div class="header__top_links">
            <a href="tel:+78002346460" class="header__top_link">8-800-234-64-60</a>
            <a href="mailto:mail@sbitum.ru" class="header__top_link">com@salavatmetal.ru</a>
            <div class="header__top_links_group">
                <a href="#" class="header__top_link">новости</a>
                <a href="#" class="header__top_link">вакансии</a>
                <a href="#" class="header__top_link">тендер</a>
                <a href="#" class="header__top_link">контакты</a>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <a href="/" class="header__logo">
            <img src="img/header/logo.png" class="default_logo" alt="">
            <img src="img/header/blue_logo.png" class="blue_logo" alt="">
        </a>
        <div class="header__group">
            <div class="header__menu">
                <a href="#" class="header__menu_link">Производство</a>
                <div class="header__menu_close">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__btns">
                <a href="#" class="header__btn btn">Расчет стоимости</a>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>