<section class="about_top">
    <div class="container">
        <div class="about_top__content">
            <div class="about_top__breadcrumbs breadcrumbs this--center">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <a href="/" class="breadcrumbs__link">Салаватметалл</a>
                <span class="breadcrumbs__link this--disabled">Производство</span>
            </div>
            <h1 class="h2_title about_top__title">«Салаватметалл»: ключевые факты</h1>
             <div class="about_top__row">
                <div class="about_top__column">
                    <div class="about_top__card date_slider swiper-container">
                        <div class="date_slider__pagination"></div>
                        <div class="date_slider__wrapper swiper-wrapper">
                            <div class="date_slider__slide date_slide swiper-slide">
                                <div class="date_slide__body">
                                    <div class="date_slide__minititle">Нанесение покрытия методом горячего оцинкования производится по</div>
                                    <div class="date_slide__value this--small">ГОСТу 9.307-89</div>
                                    <div class="date_slide__text">с толщиной покрытия от 40-200 микрометров.</div>
                                </div>
                            </div>
                            <div class="date_slider__slide date_slide swiper-slide">
                                <div class="date_slide__body">
                                    <div class="date_slide__minititle">ООО «Салаватметалл» было основано в </div>
                                    <div class="date_slide__value">2008 г.</div>
                                    <div class="date_slide__text">К строительству завода по горячему оцинкованию металла компания приступила в 2009 году, а первая продукция была выпущена в 2011 году.</div>
                                </div>
                            </div>
                            <div class="date_slider__slide date_slide swiper-slide">
                                <div class="date_slide__body">
                                    <div class="date_slide__minititle">Мощность предприятия</div>
                                    <div class="date_slide__value">40000 т.</div>
                                    <div class="date_slide__text">металлоизделий в год</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about_top__card team_card">
                        <div class="team_card__title">Команда Профессионалов</div>
                        <div class="team_card__slider swiper-container">
                            <div class="team_card__slider_wrapper swiper-wrapper">
                                <div class="team_card__slider_slide swiper-slide">
                                    <div class="team_card__img">
                                        <img src="img/about/team.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team_card__slider_slide swiper-slide">
                                    <div class="team_card__img">
                                        <img src="img/about/team.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team_card__slider_slide swiper-slide">
                                    <div class="team_card__img">
                                        <img src="img/about/team.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team_card__slider_slide swiper-slide">
                                    <div class="team_card__img">
                                        <img src="img/about/team.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="team_card__link icon_link">Подробнее
                            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="27" viewBox="0 0 31 27" fill="none">
                                <path d="M7.6067 25.7071C7.87393 26.1621 8.36055 26.4432 8.88817 26.4474L15.5 26.5L22.1118 26.4474C22.6395 26.4432 23.1261 26.1621 23.3933 25.7071L26.7452 20.0002L30.007 14.239C30.2666 13.7805 30.2666 13.2195 30.007 12.761L26.7452 6.99978L23.3933 1.29291C23.1261 0.837942 22.6395 0.556833 22.1118 0.552635L15.5 0.500017L8.88817 0.552633C8.36055 0.556831 7.87393 0.83794 7.60671 1.29291L4.25479 6.9998L0.992991 12.761C0.733406 13.2195 0.733406 13.7805 0.992991 14.239L4.2548 20.0002L7.6067 25.7071Z" stroke="#1D1D1D"></path>
                                <path d="M10 12.9556L20.4992 13.2248M20.4992 13.2248L16.0124 8.73792M20.4992 13.2248L16.0514 17.6726" stroke="#1D1D1D"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="about_top__card shipment_card">
                        <div class="shipment_card__img">
                            <img src="img/about/shipment.svg" alt="">
                        </div>
                        <div class="shipment_card__text">
                            Отгрузка готовой продукции производится автомобильным транспортом.
                        </div>
                    </div>
                </div>
                <div class="about_top__column">
                    <div class="about_top__card innovation_card">
                        <div class="innovation_card__text">Складская крытая площадка до 3000 тонн металлоконструкций.</div>
                    </div>
                    <div class="about_top__card developing_card">
                        <div class="developing_card__img">
                            <img src="img/about/developing.svg" alt="">
                        </div>
                        <div class="developing_card__text">
                            На каждую партию выдается сертификат качества
                        </div>
                    </div>
                    <div class="about_top__card invest_card">
                        <div class="invest_card__text">Погрузо-разгрузочная площадка, оснащенная мостовыми кранами,
                            с размещением до
                            3000 тонн.</div>
                    </div>
                </div>
                <div class="about_top__column">
                    <div class="about_top__card care_card">
                        <div class="care_card__img">
                            <img src="img/about/care.svg" alt="">
                        </div>
                        <div class="care_card__text">
                            Ванна длиной 13 метров, глубиной 3 метра.
                        </div>
                    </div>
                    <div class="about_top__card mission_card">
                        <div class="mission_card__title">Миссия</div>
                        <div class="mission_card__text">Вести борьбу с коррозией! Для этого мы создаем изделия, которые не подвергаются коррозии до полувека даже в самых неблагоприятных условиях.</div>
                    </div>
                    <div class="about_top__card address_card">
                        <div class="address_card__img">
                            <img src="img/about/address.svg" alt="">
                        </div>
                        <div class="address_card__city">г. Салават</div>
                        <div class="address_card__address">ул. Молодогвардейцев, 60, стр. 1</div>
                        <a href="#" class="address_card__link icon_link">Подробнее
                            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="28" viewBox="0 0 31 28" fill="none">
                                <path d="M7.6067 26.2071C7.87393 26.6621 8.36055 26.9432 8.88817 26.9474L15.5 27L22.1118 26.9474C22.6395 26.9432 23.1261 26.6621 23.3933 26.2071L26.7452 20.5002L30.007 14.739C30.2666 14.2805 30.2666 13.7195 30.007 13.261L26.7452 7.49978L23.3933 1.79291C23.1261 1.33794 22.6395 1.05683 22.1118 1.05264L15.5 1.00002L8.88817 1.05263C8.36055 1.05683 7.87393 1.33794 7.60671 1.79291L4.25479 7.4998L0.992991 13.261C0.733406 13.7195 0.733406 14.2805 0.992991 14.739L4.2548 20.5002L7.6067 26.2071Z" stroke="#2863DF"/>
                                <path d="M10 13.4558L20.4992 13.725M20.4992 13.725L16.0124 9.23817M20.4992 13.725L16.0514 18.1729" stroke="#2863DF"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>