.about_top {
  padding: 237px 0 355px;

  @media ($desktopSuperBig) {
    padding: 160px 0 200px;
  }
  @media ($tablet3) {
    padding: 160px 0 80px;
  }
  background: #F3F6FE;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    right: 237px;
    width: 375px;
    height: 1045px;
    top: 0;
    background: url('../img/about/top_bg_img.png') center / 100% 100% no-repeat;
    @media ($tablet) {
      right: 0;
    }
    @media ($tablet3) {
      right: -85px;
      display: none;
    }
  }
}
.about_top__content {
  position: relative;
  z-index: 2;
}
.about_top__title {
  text-align: center;
  margin-top: 40px;

  @media ($tablet3) {
    margin-top: 10px;
  }
}
.about_top__subtitle {
  text-align: center;
  max-width: 689px;
  margin: 19px auto 0;
  color: #191404;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;

  @media ($tablet3) {
    margin: 10px auto 0;
    font-size: 1.6rem;
    line-height: normal;
  }
}
.about_top__row {
  margin-top: 148px;
  display: flex;
  margin-left: -70px;

  @media ($desktopSuperBig) {
    margin-top: 80px;
  }
  @media ($desktop) {
    margin-left: -40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media ($tablet3) {
    margin-top: 50px;
    margin-left: 0;
    display: block;
  }
}
.about_top__column {
  margin-left: 70px;
  width: calc(33.333% - 70px);
  margin-bottom: -60px;

  @media ($desktop) {
    margin-left: 40px;
    width: calc(50% - 40px);
    margin-bottom: 0;
  }
  @media ($tablet3) {
    margin-left: 0;
    width: auto;
  }
}
.about_top__card {
  margin-bottom: 60px;
  border-radius: 15px;
  @media ($desktop) {
    margin-bottom: 40px;
  }
  @media ($tablet3) {
    margin-bottom: 16px;
  }
}
.date_slider {
  overflow: hidden;
  position: relative;
}
.date_slide__body {
  background: #2863DF;
  padding: 74px 41px 41px;
  border-radius: 15px;
  min-height: 322px;

  @media ($desktopBig) {
    padding: 74px 30px 40px;
    min-height: 0;
  }
  @media ($tablet3) {
    padding: 58px 37px 22px;
  }
}
.date_slide__minititle {
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  min-height: 21px;

  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 18px;
    min-height: 18px;
  }
}
.date_slide__value {
  color: #FFF;
  text-align: center;
  font-size: 7.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  margin-top: 12px;

  &.this--small {
    font-size: 4rem;
    margin-top: 31px;
  }

  @media ($tablet3) {
    font-size: 5.2rem;
  }
}
.date_slide__text {
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;

  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.25;
  }
}
.date_slider__pagination.swiper-pagination-bullets {
  position: absolute;
  z-index: 2;
  bottom: auto;
  top: 38px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-pagination-bullet {
    opacity: 1;
    border-radius: 0;
    width: 44px;
    height: 2px;
    background: rgba(244, 244, 243, 0.25);
    position: relative;

    &::after {
      width: 0;
      height: 100%;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background:#F4F4F3;
    }

    &.swiper-pagination-bullet-active {

      &::after {
        width: 100%;
        transition: width 4s linear;
      }
    }
  }
}

.team_card {
  padding: 60px 32px 67px;
  overflow: hidden;
  background: #FFF;

  @media ($desktopBig) {
    padding: 50px 30px 40px;
  }
  @media ($tablet3) {
    padding: 68px 11px;
  }
}
.team_card__title {
  color: #191404;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;
  @media ($tablet3) {
    font-size: 3.2rem;
  }
}
.team_card__slider {
  margin-top: 60px;

  @media ($tablet3) {
    margin-top: 30px;
  }
}
.team_card__slider_slide.swiper-slide {
  width: 162px;

  @media ($tablet3) {
    width: 124px;
  }
}
.team_card__img {
  padding-top: 120.987%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 -17px 45px 0 rgba(0, 0, 0, 0.09);
  }
}
.team_card__link {
  margin-top: 45px;
  justify-content: center;
  font-size: 2rem;

  svg {
    margin-left: 15px;
  }

  @media ($tablet3) {
    margin-top: 42px;
    font-size: 1.4rem;
    svg {
      margin-left: 24px;
    }
  }
}

.shipment_card {
  background: url('../img/about/shipment_bg.jpg') center / cover no-repeat;
  padding: 39px 24px 39px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media ($desktopBig) {
    padding: 50px 30px 40px;
  }
  @media ($tablet3) {
    padding: 105px 31px 108px;
  }
}
.shipment_card__img {
  width: 40px;
  img {
    width: 100%;
  }
}
.shipment_card__text {
  color: #FFF;
  margin-top: 16px;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;

  @media ($tablet3) {
    margin-top: 10px;
    font-size: 2.7rem;

    br {
      display: none;
    }
  }
}

.innovation_card {
  background: #FFF;
  padding: 122px 26px;

  @media ($desktopBig) {
    padding: 80px 26px;
  }
  @media ($tablet3) {
    padding: 58px 36px;
  }
}
.innovation_card__text {
  color: #345DA7;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;

  @media ($desktopBig) {
    font-size: 3.2rem;
  }
  @media ($tablet3) {
    margin-top: 10px;
    font-size: 2.7rem;
  }
}
.developing_card {
  background: url('../img/about/developing_bg.jpg') center / cover no-repeat;
  padding: 100px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media ($desktopBig) {
    padding: 50px 30px 40px;
  }
  @media ($tablet3) {
    padding: 93px 13px;
  }
}
.developing_card__img {
  width: 40px;
  img {
    width: 100%;
  }
}
.developing_card__text {
  color: #FFF;
  margin-top: 9px;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;

  @media ($tablet3) {
    margin-top: 10px;
    font-size: 3.2rem;
  }
}

.invest_card {
  background: url('../img/about/invest_bg.jpg') center / cover no-repeat;
  padding: 86px 26px;

  @media ($desktopBig) {
    padding: 50px 26px 40px;
  }
  @media ($tablet3) {
    padding: 59px 13px;
  }
}
.invest_card__text {
  color: #FFF;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;

  @media ($tablet3) {
    font-size: 2.7rem;
  }
}
.care_card {
  background: url('../img/about/care_bg.jpg') center / cover no-repeat;
  padding: 50px 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media ($desktopBig) {
    padding: 50px 30px 40px;
  }
  @media ($tablet3) {
    padding: 88px 15px;
  }
}
.care_card__img {
  width: 40px;
  img {
    width: 100%;
  }
}
.care_card__text {
  color: #FFF;
  margin-top: 10px;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;

  @media ($tablet3) {
    font-size: 2.7rem;

    br {
      display: none;
    }
  }
}

.mission_card {
  background: #2863DF;
  padding: 120px 40px;

  @media ($desktopBig) {
    padding: 80px 30px 40px;
  }
  @media ($tablet3) {
    padding: 78px 20px;
  }
}
.mission_card__title {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;

  @media ($tablet3) {
    font-size: 3.2rem;
  }
}
.mission_card__text {
  color: #FFF;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 17px;

  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: normal;
    margin-top: 10px;
  }
}
.address_card {
  background: #FFF;
  padding: 65px 55px;

  @media ($desktopBig) {
    padding: 50px 30px 40px;
  }
  @media ($tablet3) {
    padding: 46px 42px 43px;
  }
}
.address_card__img {
  margin: 0 auto;
  width: 40px;
  img {
    width: 100%;
  }
}
.address_card__city {
  color: #2863DF;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;
  margin-top: 11px;

  @media ($tablet3) {
    margin-top: 5px;
    font-size: 3.2rem;
  }
}
.address_card__address {
  color: #2863DF;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;

  @media ($tablet3) {
    margin-top: 14px;
    font-size: 1.4rem;
  }
}
.address_card__link {
  margin-top: 40px;
  justify-content: center;
  font-size: 2rem;
  color: #2863DF;

  svg {
    margin-left: 15px;
  }

  @media ($tablet3) {
    margin-top: 27px;
    font-size: 1.4rem;

    svg {
      margin-left: 24px;
    }
  }
}