<section class="main_top">
    <div class="main_top__body">
        <div class="container">
            <div class="main_top__content">
                <div class="main_top__top">
                    <h1 class="h1_title main_top__title">Долговечная защита<br>
                        от коррозии</h1>
                    <a href="#" class="main_top__top_link btn_arrow"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
                </div>
                <div class="main_top__text">ООО «САЛАВАТМЕТАЛЛ» специализируется на горячем оцинковании металлических изделий, используемых: в дорожном строительстве, нефтегазовой и химической промышленности, энергетике и связи, кабеленесущих системах, сельском хозяйстве и транспорте.</div>
                <button class="main_top__top_btn js_main_top_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                        <path d="M24.2929 34.7071C24.6834 35.0976 25.3166 35.0976 25.7071 34.7071L32.0711 28.3431C32.4616 27.9526 32.4616 27.3195 32.0711 26.9289C31.6805 26.5384 31.0474 26.5384 30.6569 26.9289L25 32.5858L19.3431 26.9289C18.9526 26.5384 18.3195 26.5384 17.9289 26.9289C17.5384 27.3195 17.5384 27.9526 17.9289 28.3431L24.2929 34.7071ZM24 16L24 34L26 34L26 16L24 16Z" fill="white"/>
                        <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="white" stroke-opacity="0.5"/>
                    </svg>
                </button>
            </div>
        </div>
        <img src="img/main/main_top/second_bg.png" alt="" class="main_top__second_bg">
    </div>
</section>